sphinx==4.5.0
sphinx-book-theme==0.3.3
sphinxcontrib-bibtex==2.5.0
rioxarray==0.15.0
matplotlib==3.8.2
sphinxcontrib-applehelp==1.0.4  # compatibility with sphinx < 5
sphinxcontrib-devhelp==1.0.2  # compatibility with sphinx < 5
sphinxcontrib-htmlhelp==2.0.1  # compatibility with sphinx < 5
sphinxcontrib-qthelp==1.0.3  # compatibility with sphinx < 5
sphinxcontrib-jsmath==1.0.1  # compatibility with sphinx < 5
sphinxcontrib-serializinghtml==1.1.5  # compatibility with sphinx < 5
